

<div ng-controller="TopicsController">
  <a href="#/dashboard">Dashboard</a> <a href='#/'>Logout</a>
  <h3>Zen posted a topic</h3>
  <hr />
  <h4>What is the first thing you should learn if you want to be a web developer?</h4>
  <p>
    Description: Any tips on what I should ldearn first and what are the things that I should keep in mind? Thanks!
  </p>
  <br />
  <h3>Post your answer here...</h3>

  <form role="form">
    <textarea rows="10" cols="80"></textarea>
    <button class="btn btn-success">Post</button>
  </form>

  <div class="responses">
    <div class="mainresponse">

      <p>
        <a href="#/profile/joe">Joe:</a>  You have to remember that you should never stop learning.
      </p>
    </div>
    <div class="peanutgallery">
      <p>
        <a href="#/profile/oliver">Oliver:</a>  I strongly agree!
      </p>
      <p>
        <a href="#/profile/charles">Charles:</a>  Keep your mind open to new things.
      </p>
      <form role="form">
        <textarea rows="3" cols="80"></textarea>
        <button>Comment</button>
      </form>
    </div>
    <div class="mainresponse">
      <p>
        <a href="#/profile/mark">Mark:</a>  Just learn the basics.
      </p>
    </div>
    <div class="peanutgallery">
      <p>
        <a href="#/profile/zen">Zen:</a>  I like that answer!
      </p>
      <form role="form">
        <textarea rows="3" cols="80"></textarea>
        <button>Comment</button>
      </form>
    </div>

  </div>

</div>
