.searchbar {
  margin-left: 900px;
}
.peanutgallery {
  margin-left: 50px;
}
.mainresponse img {
  height: 30px;
  display: inline-block;
}
.votes {
  position: absolute;
  display: inline-block;
  right: 550px;

}
.mainresponse p {
  display: inline-block;
}
.green {
  color: green;
}
.red {
  color: red;
}
